# From https://stackoverflow.com/questions/8024924/gitignore-ignore-all-files-then-recursively-allow-foo/8025106#8025106
# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Ignore the _files directory
*_files/

# Don't ignore .gitignore and *.foo files
!.gitignore
!*.qmd
!README.md
#!*.css
#!*.scss
!Foundations/Images/
#!wordmark.png


# ignore some standard R stuff located in folders
# copied from default R template and commented out what we don't seem to need

# RStudio files
.Rproj.user/




## History files
#.Rhistory
#.Rapp.history
#
## Session Data files
#.RData
#
## User-specific files
#.Ruserdata
#
## Example code in package build process
#*-Ex.R
#
## Output files from R CMD build
#/*.tar.gz
#
## Output files from R CMD check
#/*.Rcheck/
#
#
## produced vignettes
#vignettes/*.html
#vignettes/*.pdf
#
## OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
#.httr-oauth
#
## knitr and R markdown default cache directories
#*_cache/
#/cache/
#
## Temporary files created by R markdown
#*.utf8.md
#*.knit.md
#
## R Environment Variables
#.Renviron
/.quarto/
